<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <h4 class="work-header text-center">Work</h4>
    </div>
  </div>
  <div class="col-12">
    <div class="work-text text-center">
      Check my commercial and non commercial projects.
      If you have any questions feel free to ask me for more information.
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn button-pills m-1 pl-4 pr-4 active" aria-pressed="true" >All</button>
    <button type="button" class="btn button-pills m-1">Java</button>
    <button type="button" class="btn button-pills m-1">Spring</button>
    <button type="button" class="btn button-pills m-1">Hibernate</button>
    <button type="button" class="btn button-pills m-1">MySQL</button>
    <button type="button" class="btn button-pills m-1">JavaScript</button>
    <button type="button" class="btn button-pills m-1">HTML&CSS</button>
    <button type="button" class="btn button-pills m-1">Python</button>
  </div>

  <div class="row align-items-center mt-4 ml-0 mr-0">

<!--    FOOD AND RECIPES CARD-->
      <div class="card m-4 border-0" style="width: 18rem; height: 24rem;" (mouseenter)="showButtons=true" (mouseleave)="showButtons=false">
        <div class="m-0 card-img-top card-img-placeholder">
          <img src="assets/resources/recipes.jpg" class="card-img-top my-card-img" alt="img">
        </div>
        <div class="card-body mt-3 p-0">
          <h5 class="card-title">Food and Recipes</h5>

          <button type="button" class="btn button-pills-sm mb-2">Java</button>
          <button type="button" class="btn button-pills-sm mb-2">Spring</button>
          <button type="button" class="btn button-pills-sm mb-2">MySQL</button>

          <p class="my-card-text">This is a simple MVC service app that allows to search through recipe stored in database.
            Explore recipes and learn nutrient values for new dishes.</p>

          <div *ngIf="showButtons" class="row pl-3 pr-3">
            <div *ngIf="false" class="col-6 p-0">
              <a class="btn button-preview" href="#" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye mr-1" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg>
                Preview</a>
            </div>

            <div class="col-6 p-0">
              <a class="btn button-github" href="https://github.com/Kamil-Kuk/food_and_recipes" role="button">
                <a class="mr-1 icon-white" href="https://github.com/Kamil-Kuk/food_and_recipes"><img src="assets/resources/github_icon.svg" alt="GIT"></a>
                Github repo</a>
            </div>
          </div>
        </div>
      </div>

    <!--    CALC-->
    <div class="card m-4 border-0" style="width: 18rem; height: 24rem;" (mouseenter)="showButtons=true" (mouseleave)="showButtons=false">
      <div class="m-0 card-img-top card-img-placeholder">
        <img src="assets/resources/calc.jpg" class="card-img-top my-card-img" alt="img">
      </div>
      <div class="card-body mt-3 p-0">
        <h5 class="card-title">CalcApp</h5>

        <button type="button" class="btn button-pills-sm mb-2">JavaScript</button>
        <button type="button" class="btn button-pills-sm mb-2">HTML&CSS</button>

        <p class="my-card-text">Basic calculator app made with Angular</p>

        <div *ngIf="showButtons" class="row pl-3 pr-3">
          <div *ngIf="true" class="col-6 p-0">
            <a class="btn button-preview" href="https://kamil-kuk-calc-app.netlify.app" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye mr-1" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
              Preview</a>
          </div>

          <div class="col-6 p-0">
            <a class="btn button-github" href="https://github.com/Kamil-Kuk/calc-app" role="button">
              <a class="mr-1 icon-white" href="https://github.com/Kamil-Kuk/calc-app"><img src="assets/resources/github_icon.svg" alt="GIT"></a>
              Github repo</a>
          </div>
        </div>
      </div>
    </div>

    <!--    COVID-->
    <div class="card m-4 border-0" style="width: 18rem; height: 24rem;" (mouseenter)="showButtons=true" (mouseleave)="showButtons=false">
      <div class="m-0 card-img-top card-img-placeholder">
        <img src="assets/resources/covid.png" class="card-img-top my-card-img" alt="img">
      </div>
      <div class="card-body mt-3 p-0">
        <h5 class="card-title">COVID-19-data-and-statistics</h5>

        <button type="button" class="btn button-pills-sm mb-2">Java</button>
        <button type="button" class="btn button-pills-sm mb-2">MySQL</button>
        <button type="button" class="btn button-pills-sm mb-2">Hibernate</button>

        <p class="my-card-text">This is a repository for a project that allows the user to
          display on charts various statistics related with Covid-19 pandemic </p>

        <div *ngIf="showButtons" class="row pl-3 pr-3">
          <div *ngIf="false" class="col-6 p-0">
            <a class="btn button-preview" href="#" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye mr-1" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
              Preview</a>
          </div>

          <div class="col-6 p-0">
            <a class="btn button-github" href="https://github.com/Kamil-Kuk/COVID-19-data-and-statistics" role="button">
              <a class="mr-1 icon-white" href="https://github.com/Kamil-Kuk/COVID-19-data-and-statistics"><img src="assets/resources/github_icon.svg" alt="GIT"></a>
              Github repo</a>
          </div>
        </div>
      </div>
    </div>




    <div *ngFor="let project of projects">
      <div *ngIf="!manualRepos.includes(project.id)">
        <app-project [project]="project"></app-project>
      </div>
    </div>
  </div>
</div>
