.work-header {
  margin-top: 9rem;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 0.95;
  letter-spacing: -0.3rem;
  color: #151618;
}


@media (max-width: 767px) {
  .work-header {
    font-size: 2.5rem;
    line-height: 0.95;
    letter-spacing: -0.2rem;
  }
}

@media (max-width: 360px) {
  .work-header {
    font-size: 2rem;
    line-height: 0.95;
    letter-spacing: -0.1rem;
  }
}

.work-text{
  color: rgba(21, 22, 24, 0.7);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0 24px;
}

.button-pills{
  box-shadow: none;
  border-width: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #f5f6f7;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  justify-items: center;
}

.button-pills:focus {
  color: #ffffff;
  background-color: #0d0e0f;
}

.button-pills:active {
  color: #ffffff;
  background-color: #0d0e0f;
}

.my-carousel-margins{
  margin-right: -3rem;
  margin-left: -3rem;
}

.my-carousel-margins .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left-short' viewBox='0 0 16 16'%3e%3cpath d='M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z'/%3e%3c/svg%3e");
}

.my-carousel-margins .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-short' viewBox='0 0 16 16'%3e%3cpath d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
}

