.work-header {
  margin-top: 9rem;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 0.95;
  letter-spacing: -0.3rem;
  color: #151618;
}


@media (max-width: 767px) {
  .work-header {
    font-size: 2.5rem;
    line-height: 0.95;
    letter-spacing: -0.2rem;
  }
}

@media (max-width: 360px) {
  .work-header {
    font-size: 2rem;
    line-height: 0.95;
    letter-spacing: -0.1rem;
  }
}

.work-text{
  color: rgba(21, 22, 24, 0.7);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0 24px;
}

.button-pills{
  box-shadow: none;
  border-width: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #f5f6f7;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  justify-items: center;
}

.button-pills:focus {
  color: #ffffff;
  background-color: #0d0e0f;
}

.button-pills:active {
  color: #ffffff;
  background-color: #0d0e0f;
}


