<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/514de43444.js" crossorigin="anonymous"></script>
</head>
<body class="app__background">

<nav class="navbar navbar-expand-md navbar-light my-navbar">
  <div class="container-fluid p-0">
      <a class="navbar-brand" href="#">
        <img src="assets/resources/KK_logo.svg" alt="KK">
      </a>

    <button class="navbar-toggler collapsed border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <div class="close-icon py-1">
        <a class="p-2" href="#"><img src="assets/resources/x.svg" alt="X"></a>
      </div>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="col-md-9 row justify-content-md-center p-0">
        <ul class="navbar-nav mr-auto mt-2 mx-md-auto align-items-md-center">
          <li class="nav-item">
            <a class="nav-link my-nav-text col-lg" href="#">Work<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-nav-text col-lg" href="#">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-nav-text col-lg" href="#">Contact</a>
          </li>
          <li class="nav-item d-md-none pt-3">
            <div class="d-inline">
                <a class="p-1 my-nav-text-small active" href="#">ENG</a>
                <a class="pr-3 p-1  my-nav-text-small" href="#">POL</a>
                <a class="pl-3 p-1" href="#"><img src="assets/resources/github_icon.svg" alt="GIT"></a>
                <a class="p-1" href="#"><img src="assets/resources/linkedin_icon.svg" alt="IN"></a>
            </div>
          </li>

        </ul>
      </div>

      <div class="col-md-3 p-0">
        <ul class="navbar-nav row justify-content-md-end p-0 d-none d-md-flex ml-md-auto">
          <li>
            <a class="p-1 my-nav-text-small active" href="#">ENG</a>
          </li>
          <li>
            <a class="pr-3 p-1  my-nav-text-small" href="#">POL</a>
          </li>
          <li>
            <a class="pl-3 p-1" href="#"><img src="assets/resources/github_icon.svg" alt="GIT"></a>
          </li>
          <li>
            <a class="p-1" href="#"><img src="assets/resources/linkedin_icon.svg" alt="IN"></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>


<app-home></app-home>


</body>
</html>
